@model ProjFinalEcho1.Models.Posts

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <title>Details</title>
</head>
<body>
    <div>
        <h4>@Html.DisplayFor(model => model.Titulo)</h4>
        <hr />
        <dl class="dl-horizontal">


            <dd>
                <img src="~/Imagens/@Html.DisplayFor(model => model.Imagem)"
                     alt="Fotografia do agente @Html.DisplayFor(model => model.Titulo)"
                     title="@Html.DisplayFor(model => model.Titulo)"
                     width="150" />
            </dd>


            <dd>
                @Html.DisplayFor(model => model.Conteudo)
            </dd>


            <dd>
                @Html.ActionLink((String)ViewBag.likes, "Votes", new { id = Model.ID })
                <!--@Html.ActionLink((String)ViewBag.likes, "VotesDelete", new { id = Model.ID }) -->
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("administrador"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
         }
@Html.ActionLink("Voltar", "Index")
    </p>
    <table class="pure-table pure-table-bordered">
        @foreach (var coments in ViewBag.comments)
        {
         <tr>
                <td></td>
                <td>@coments.DataDoComentario</td>
                <td>@coments.Coment</td>
        </tr>
        }
       

    </table>
</body>
</html>
