@model ProjFinalEcho1.Models.Posts

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    <h4>Posts</h4>
    <table>
        @foreach (var item in ViewBag.categorias)
        {
            <tr>
                <td>
                    @Html.ActionLink((String)item.Nome, "Search", new { id = item.ID })
                </td>
            </tr>
        }
        </table>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hidden)
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.Posts)
        {
        <tr>
            <td>
                @item.Titulo
            </td>
            <td>
                @item.Hidden
            </td>
            <td>
                @* Apresentar a imagem de um post *@
                <img src="~/Imagens/@item.Imagem"
                     alt="imagem do agente @item.Titulo"
                     title="@item.Titulo"
                     width="50" />

                @*@Html.DisplayFor(modelItem => agente.Fotografia)*@
            </td>
            <td>
                @if (User.IsInRole("administrador"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID });
                }
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID })

                @if (User.IsInRole("administrador"))
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID });
                }
            </td>
        </tr>
        }

    </table>
</div>
